@import url('./fonts.css');
@import url('./normalize.css');

:root {
    --logo-font: 'interBold';
    --heading-number-font: 'interSemiBold';
    --primary-font: 'interMedium';
    --heading-font: 'plusJakartaSans';
    --primary-color: #000000;
    --orange: #F9773B;
    --lighting-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    margin: 0 auto;
    max-width: 1440px;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 54px 25px 54px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    .Logo_Text {
        font-family: var(--logo-font);
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.32px;
        color: var(--primary-color);

        @media screen and (max-width:250px) {
            font-size: 15px;
        }
    }
}

.nav-items {
    display: flex;
    list-style-type: none;
    gap: 22px;

    .nav-item {
        position: relative;

        a {
            text-decoration: none;
            color: var(--primary-color);
            font-family: var(--primary-font);
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
        }
    }
}

.nav-item a::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1.5px;
    border: none;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    top: 30px;
    left: 0;
    z-index: 5;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s, height 0.5s;
}

.nav-item a:hover::after {
    transform: scaleX(1);
    height: 1.5px;
}

.search-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .contact_nav-item {
        text-decoration: none;
        color: var(--lighting-color);
        font-family: var(--primary-font);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.32px;
        width: 120px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 99px;
    }
}

.nav {
    display: flex;
    margin: 0 auto;
}

.search-contact_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;

    .contact_nav-item {
        text-decoration: none;
        color: var(--lighting-color);
        font-family: var(--primary-font);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.32px;
        width: 120px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 99px;
    }
}


.overlay_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transition: 0.6s ease-in-out;
}


.Search_Button {
    width: 32px;
    height: 32px;
    background-color: #F5F5F5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    cursor: pointer;
    img {
        width: 18px;
        height: 18px;
    }
}

.Burger_Menu {
    display: none;
    min-width: 30px;
    height: 30px;
    cursor: pointer;
}

.Heading_Container {
    margin-top: 100px;
    padding: 0px 54px 0px 54px;
    display: flex;
    gap: 88px;
}

.heading {
    h2 {
        font-family: var(--heading-font);
        font-size: 68px;
        letter-spacing: -0.32px;
        margin-bottom: 24px;
        max-width: 684px;
        font-weight: 500;
        line-height: normal;
    }

    .Subtitle {
        font-family: var(--primary-font);
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.32px;
        color: #696969;
        max-width: 611px;
    }
}

.Start_Project {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lighting-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 99px;

    img {
        width: 15px;
        height: 11px;
        margin-left: 8px;
    }
}

.Get_Free {
    color: var(--primary-color);
    font-family: var(--primary-font);
    line-height: 20px;
    letter-spacing: -0.32px;
    text-decoration: none;
    position: relative;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1.5px;
        background-color: var(--primary-color);
    }
}

.Completed,
.Professionals,
.built {
    h2 {
        font-family: var(--heading-number-font);
        font-size: 64px;
        line-height: 80px;
        letter-spacing: -0.32px;
        font-weight: 500;
    }

    p {
        font-family: var(--primary-font);
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.32px;
        margin-top: 4px;
    }
}

.Button_Container {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: start;
    margin-top: 43px;
}

.heading_information {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 56px;
    margin-top: 60px;
}

.Header_Image {
    align-items: center;
    position: relative;
    height: 100%;

    img {
        width: 100%;
    }
}

.second_rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4px;
    right: 1px;
    width: clamp(30px, 8.6vw, 134px);
    height: clamp(30px, 8.6vw, 134px);
    background-color: var(--primary-color);
    border-radius: 20px;

    img {
        width: 24px;
        height: 28px;
    }
}

.first_rectangle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: clamp(30px, 8.6vw, 134px);
    height: clamp(30px, 8.6vw, 134px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--orange);
    border-radius: 20px;

    h2,
    p {
        margin-left: 17px;
        font-family: var(--logo-font);
        letter-spacing: -0.32px;
        color: var(--lighting-color);
    }

    p {
        font-size: 16px;
        line-height: 18px;
        max-width: 63px;
    }

    h2 {
        font-size: 40px;
        line-height: auto;
    }
}

.After_320px {
    display: none;
}

@media screen and (max-width:1300px) {
    .heading {
        h2 {
            font-size: 40px;
        }

        .Subtitle {
            font-size: 16px;
        }
    }

    .Completed,
    .Professionals,
    .built {
        h2 {
            font-size: 40px;
        }

        p {
            font-size: 14px;
        }
    }

    .heading_information {
        margin-top: 50px;
    }
}

@media screen and (max-width:1040px) {
    .Header_Image {
        margin-top: 20px;
    }

    .Completed,
    .Professionals,
    .built {
        h2 {
            height: 70px;
            font-size: 34px;
        }
    }

    .first_rectangle {

        p,
        h2 {
            margin-left: 10px;
        }
    }

    .nav,
    .search-contact_ul {
        display: none;
    }

    .Burger_Menu {
        display: block;
    }

    .Heading_Container {
        margin-top: 50px;
    }
}

@media screen and (max-width:948px) {

    .Completed,
    .Professionals,
    .built {
        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .first_rectangle {
        align-items: center;

        p,
        h2 {
            margin-left: 0px;
        }
    }

    .Header_Image {
        margin-top: -10px;
    }

    .Heading_Container {
        flex-direction: column;
    }

    .heading_information {
        flex-direction: column;
        gap: 30px;
    }

    .Button_Container {
        justify-content: center;
    }

    .heading {
        text-align: center;

        h2 {
            margin: 0 auto 20px auto;
        }

        p {
            margin: 0 auto;
        }
    }

    .first_rectangle {
        width: clamp(20px, 20vw, 200px);
        height: clamp(20px, 20vw, 200px);
    }

    .second_rectangle {
        width: clamp(20px, 20vw, 200px);
        height: clamp(20px, 20vw, 200px);
    }
}

@media screen and (max-width:920px) {
    .Header_Image {
        margin-top: 50px;
    }
}

@media screen and (max-width:630px) {
    .Container {
        padding: 25px 20px 25px 20px;
    }
}

@media screen and (max-width:504px) {
    .Button_Container {
        flex-direction: column;
    }

    .first_rectangle {
        align-items: start;
        width: clamp(20px, 17vw, 200px);
        height: clamp(20px, 17vw, 200px);

        h2 {
            font-size: 20px;
            margin-left: 8px;
        }

        p {
            font-size: 12px;
            margin-left: 8px;
        }
    }

    .second_rectangle {
        width: clamp(20px, 17vw, 200px);
        height: clamp(20px, 17vw, 200px);
    }
}

@media screen and (max-width:473px) {
    .first_rectangle {
        border-radius: 16px;
    }
}

@media screen and (max-width:420px) {
    .heading {
        h2 {
            font-size: 27px;
        }
    }
}

@media screen and (max-width:400px) {
    .Container {
        padding: 20px 20px;
    }
}

@media screen and (max-width:320px) {
    .Header_Image {
        display: none;
    }

    .heading {
        h2 {
            font-size: 20px;
        }
    }

    .After_320px {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .first_rectangle2 {
        width: 134px;
        background-color: var(--orange);
        height: 134px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: var(--logo-font);
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.32px;
    }

    .second_rectangle2 {
        width: 134px;
        height: 134px;
        background-color: var(--primary-color);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 38px;
            height: 41px;
        }
    }

    .Heading_Container {
        gap: 60px;
    }
}

@media screen and (max-width:250px) {

    .Logo {
        img {
            width: 26px;
        }
    }

    .Burger_Menu {
        min-width: 27px;
        height: 27px;
    }
}